# Created by .ignore support plugin (hsz.mobi)
.idea/
CCP-changes.iml
/target
/__pychache__
.vscode
/PERILS/Git/credentials.py
/PERILS/CCP-REPOS/
/PERILS/Git/__pycache__/
/PERILS/Jira/__pycache__/
/PERILS/__pycache__/
/PERILS/output/
/PERILS/CSV/__pycache__/
/PERILS/Uitility/__pycache__/
